# Ambiente de execução (development | production | test)
process.env.NODE_ENV === "development"

# URL base da API backend
NEXT_PUBLIC_API_URL=
# Autenticação (ex: NextAuth)
# NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_SECRET=sua_chave_secreta_aqui
